.chat-main
  .header
    .header-group
      .header-group__name
        = @group.name
        .menber-list
          Menber : 
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(current_user), class:"header-group__edit" do
      Edit
  .chat-messages
    = render @messages
      
  .chat-form
    .new-message
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('far', 'image')
            = f.file_field :image, class: 'input-box__image__file'
          = f.submit 'Send', class: 'send-btn'


    

    
  